.show-item {
  display: block;
  height: 425px;
  position: relative;
  border-radius: 5px;
  border: 1px solid #999;
}

.show-item-image {
  height: 375px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.show-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.show-item-rating {
  position: absolute;
  display: flex;
  align-items: center;
  top: 10px;
  left: 10px;
  background-color: black;
  border-radius: 5px;
  padding: 5px 10px;
}
.show-item-title{
  display: flex;
  align-items: center;
  font-weight: bold;
  height: 48px;
  background-color: black;
  border-radius: 0 0 5px 5px;
  padding: 0 10px;
}

.show-item-rating .pi {
  font-size: 1.2rem;
  color: orange;
  margin-right: 5px;
}
