@import "primeicons/primeicons.css";
@import "primeng/resources/themes/md-dark-indigo/theme.css";
@import "primeng/resources/primeng.css";

:root {
  --font-roboto: "Roboto", sans-serif;
  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;
  --font-style-normal: normal;
  --font-style-italic: italic;
}

body {
  font-family: var(--font-roboto);
  color: white;
  font-size: 14px;
  font-weight: 400;
  background-color: #141414 ;
}

/* Define reusable font classes */
.roboto {
  font-family: var(--font-roboto);
}

.font-weight {
  font-weight: var(--font-weight-regular);
}

.font-style {
  font-style: var(--font-style-normal);
}

/* Apply specific font weights and styles */
.roboto.thin {
  font-weight: var(--font-weight-thin);
}

.roboto.light {
  font-weight: var(--font-weight-light);
}

.roboto.regular {
  font-weight: var(--font-weight-regular);
}

.roboto.medium {
  font-weight: var(--font-weight-medium);
}

.roboto.bold {
  font-weight: var(--font-weight-bold);
}

.roboto.black {
  font-weight: var(--font-weight-black);
}

/* Apply italic styles */
.italic {
  font-style: var(--font-style-italic);
}
.container{
  margin: 0.5rem;
  padding: 0.5rem;
}
a{
  color: white;
  text-decoration: none;
}
